/*ul,
ol {
    list-style:none;
}*/

.list {
    list-style: none;
}
.link {
    text-decoration: none;
    font-style: normal;
    }

.logo {
    font-family: Raleway, ExtraBold;
    font-weight: 800;
    font-size: 18px;
    letter-spacing: 3%;
    line-height: 21px;
    text-transform: uppercase;
    color: #2E2F42;
}

button {
    cursor: pointer;
   }
.contact {
    font-family: Roboto, Regular;
    line-height: 24px;
    letter-spacing: 2%;
    font-size: 16px;
    font-weight: 400;
    color: #434455;
    }

.menu-link {
    font-family: Roboto, Medium;
    line-height: 24px;
    letter-spacing: 2%;
    font-size: 16px;
    font-weight: 500;
    color: #2E2F42;
}


h1 {
    font-family: Roboto, Bolt;
    font-size: 56px;
    font-weight: 700;
    Line-Height: 60px;
    letter-spacing: 2%;
    color: #FFFFFF;
}

.modal-open-buttom {
    font-family: Roboto, Medium;
    font-size: 16px;
    font-weight: 500;
    Line-Height: 24px;
    Letter-Spacing: 4%;
    color: #FFFFFF;
    width: 169px;
    height: 56px;
    background-color: #4D5AE5;
    border-radius: 4px;
    }
    
    .section-one {
        background-color: #2E2F42;
    }

.section-zero {
    background-color: #FFFFFF;
}

.section-two {
    background-color: #F4F4FD;
}

h3 {
    font-family: Roboto, Medium;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 2%;
    color: #2E2F42;
    }

.body-p {
    font-family: Roboto, Regular;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 2%;
    color: #434455;

}

h2 {
    font-family: Roboto, Bolt;
        font-size: 36px;
        font-weight: 700;
        letter-spacing: 2%;
        color: #2E2F42;
}

.member-text {
    background-color: #FFFFFF;
    width: 264px;
}

.team-member-p {
    font-family: Roboto, Regular;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 2%;
        color: #434455;

}

footer {
    background-color: #2E2F42;
}

.footer-p {
font-family: Roboto, Regular;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 2%;
    color: #F4F4FD;
}
span {
color: #4D5AE5;
}
.footer-logo {
    font-family: Raleway, ExtraBold;
        font-weight: 800;
        font-size: 18px;
        letter-spacing: 3%;
        line-height: 21px;
        text-transform: uppercase;
        color: #F4F4FD;
}

.button {
    font-family: Roboto, Medium;
        font-size: 16px;
        font-weight: 500;
        Line-Height: 24px;
        Letter-Spacing: 4%;
        color: #4D5AE5;
        height: 48px;
        width: auto;
        background-color: #E7E9FC;
        border-radius: 4px;}

.button:hover,
.button:focus {
    background-color: #4D5AE5;
    color: #FFFFFF;
        }

.portoground {
    background-color: #FFFFFF;
    }